/* tipografia */

h1, h2, h3, h4, h5, h6, p, span{
    font-family: Helvetica,Arial,sans-serif;;
}

a{
    color:grey;
}

/* struttura */

body{
    position:relative;
}

.bg-top{
    height:15vh;
    background-color: #009788;
}

.bg-bottom{
    height:85vh;
    background-color: #d6dbd7;
}

#main{
    height:95vh;
    width:95vw;
    background-color: lightgrey;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#generale{
    background-color: #fff;
    height:100%;
}

.header{
    height:70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    color:#b1b1b1;
    font-size: 16px;
    padding:10px;
}

.header i{
    padding: 0 5px;
}

.foto-profilo{
    height:60px;
}

.foto-profilo img{
    height:inherit;
    border-radius: 50px;

}

.testo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
}

.info, .chat{
    display: flex;
}

.testo .nome, .testo .titolo{
    color:#000;
}

.ultimo-accesso, .istruzione{
    font-size: 14px;
}

.chat{
    height:70px;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #f9f9f9;
    display:flex;
    align-items: center;
    position: relative;
    color:grey;
}

.chat:hover{
    background-color: #e9ebea;
}

.chat .ultimo-accesso{
    position:absolute;
    top:16px;
    right:15px;
}

#cronologia-chat{
    overflow-y: scroll;
    height:calc(100% - 70px - 70px - 40px);
}

#notifiche-desktop{
    background-color: #90dbfb;
    height:70px;
    padding: 10px;
    display:flex;
    align-items: center;
    font-size: 16px;
}

#notifiche-desktop .icona{
    height: 50px;
    width: 50px;
    background-color: #fff;
    color: #90dbfb;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.icona i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

#cerca-contatti{
    height:40px;
    background-color: #f9f9f9;
    color: #b3b4b6;
    font-size: 16px;
    position:relative;
}

#cerca{
    width:95%;
    height:70%;
    border-radius: 5px;
    border:1px solid lightgrey;
    background-color: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}

#cerca label{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

input{
    border:none;
    border-radius: 5px;
    font-size: 14px;
}

input:focus{
    outline: none;
}

::-webkit-input-placeholder {
    color:#b3b4b6;
}
::-moz-input-placeholder {
    color:#b3b4b6;
}
::-ms-input-placeholder {
    color:#b3b4b6;
}

#chat{
    height:100%;
    background-image: url('../img/Ocean_orizz.jpg');
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#conversazione{
    height:calc(100% - 70px - 70px);
    padding:30px 40px;
    overflow-y: scroll;
}

.riga-messaggio{
    margin-bottom:10px;
}

.messaggio{
    max-width: 70%;
    border-radius: 10px;
    padding:10px;
}

.messaggio.ricevuto{
    background-color: #fff;
    float:left;
}

.messaggio.inviato{
    background-color: #d5f9bb;
    float:right;
}

.ora-messaggio{
    font-size: 12px;
    color: #8c8c8c;
}

#strumenti{
    height:70px;
    width: 100%;
    position: relative;
    right: -15px;
    background-color: #f3eeea;
    color:#6b747a;
    display: flex;
    align-items: center;
    font-size:20px;
}

#strumenti input{
    height: 50px;
    padding-left: 15px;
}


/* DA FARE
- icon invio messaggio quando input messaggio è selezionato / ha contenuto

PERCHE
- ho dovuto aggiungere position, right, e width a #strumenti?
 */
