.bg-top{
    height:15vh;
    background-color: green;
}

.bg-bottom{
    height:85vh;
    background-color: grey;
}

body{
    position:relative;
}

#main{
    height:95vh;
    width:95vw;
    background-color: lightgrey;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


/* da cancellare */
.bg-orange{
    background-color: orange;
    height:100%;
}
.bg-tomato{
    background-color: tomato;
    height:100%;
}
